<app-header></app-header>
<div class="banner bg-primary text-white p-3">
  <div class="row">
    <div class="col-md-6">
      <h1>{{ branch?.name }}</h1>
    </div>
    <div class="col-md-6 text-md-end">
      <h4>{{ branch?.location }}</h4>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center">
    <h3>Products</h3>
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#newProductModal"
      *ngIf="roleUser !== 'SELLER'"
    >
      Add Product
    </button>
    <button
      type="button"
      class="btn btn-success"
      data-bs-toggle="modal"
      data-bs-target="#newOrderModal"
      *ngIf="productsWithStock.length > 0"
    >
      new Order
    </button>

    <button
      type="button"
      class="btn btn-dark"
      data-bs-toggle="modal"
      data-bs-target="#inventoryModal"
      *ngIf="roleUser !== 'SELLER'"
    >
      Upload inventory
    </button>
  </div>
</div>
<div
  class="modal fade"
  id="newProductModal"
  tabindex="-1"
  aria-labelledby="newProductModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newProductModalLabel">New Product</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          [formGroup]="productForm"
          (ngSubmit)="!productForm.invalid && createProduct(productForm.value)"
        >
          <label for="name">Product name</label>
          <input
            novalidate
            id="name"
            class="form-control"
            formControlName="name"
            placeholder="name"
          />
          <div
            class="alert alert-danger alert-dismissible fade show"
            *ngIf="productForm.get('name')?.hasError('minlength')"
          >
            Field must contain at least 3 characters."
          </div>
          <label for="description">Description</label>
          <input
            novalidate
            id="description"
            class="form-control"
            formControlName="description"
            placeholder="description"
          />
          <label for="price">Price</label>
          <input
            novalidate
            id="price"
            type="number"
            class="form-control"
            formControlName="price"
            placeholder="price"
          />
          <div
            class="alert alert-danger alert-dismissible fade show"
            *ngIf="productForm.get('price')?.hasError('min')"
          >
            Price could not be less than 0."
          </div>
          <label for="category">Category</label>
          <select class="form-control" id="category" formControlName="category">
            <option value="" disabled>Select a category</option>
            <option value="General">General</option>
            <option value="House">House</option>
            <option value="Heavy">Heavy</option>
            <!-- Agrega más opciones según sea necesario -->
          </select>
          <div
            class="alert alert-danger alert-dismissible fade show"
            *ngIf="productForm.get('category')?.hasError('required')"
          >
            Category is required.
          </div>

          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!productForm.valid"
            data-bs-dismiss="modal"
          >
            Add</button
          >&nbsp;
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="inventoryModal"
  tabindex="-1"
  aria-labelledby="inventoryModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inventoryModalLabel">
          Upload inventory from Excel
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <input type="file" (change)="readInventoryExcel($event)" />

        <button
          type="button"
          class="btn btn-primary"
          (click)="sendExcel()"
          data-bs-dismiss="modal"
        >
          Upload
        </button>
      </div>
    </div>
  </div>
</div>

<div style="display: flex">
  <!-- Parte izquierda - Tabla 1 -->
  <div style="flex: 1; padding-right: 10px">
    <app-product-list [productsInBranch]="productsInBranch"></app-product-list>
  </div>

  <div style="flex: 1; padding-left: 10px" *ngIf="roleUser !== 'SELLER'">
    <app-user-list [usersInBranch]="usersInBranch"></app-user-list>
  </div>
</div>

<button
  type="button"
  class="btn btn-success"
  data-bs-toggle="modal"
  data-bs-target="#generateReportModal"
  *ngIf="productsInBranch.length > 0"
>
  Generate Report
</button>

<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center">
    <h3>Invoices</h3>
  </div>
</div>
<app-invoice-list [invoices]="invoicesInBranch"></app-invoice-list>

<div
  class="modal fade"
  id="newOrderModal"
  tabindex="-1"
  aria-labelledby="newOrderModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newOrderModalLabel">Order</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container mt-12">
          <div class="row">
            <!-- Columna izquierda - Select con productos -->
            <div class="col-md-12">
              <div class="form-group">
                <form
                  [formGroup]="orderForm"
                  (ngSubmit)="
                    !orderForm.invalid && addProductToCar(orderForm.value)
                  "
                >
                  <select
                    class="form-control"
                    id="product"
                    formControlName="product"
                  >
                    <option
                      *ngFor="let producto of productsWithStock"
                      [ngValue]="producto"
                    >
                      {{ producto.name }}
                    </option>
                  </select>
                  <input
                    type="number"
                    class="form-control"
                    id="quantity"
                    formControlName="quantity"
                    placeholder="Quantity"
                  />
                  <button
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="!orderForm.valid"
                  >
                    Add to Order</button
                  >&nbsp;
                </form>

                <h2>Productos Seleccionados</h2>

                <div
                  class="card mb-3 w-100"
                  *ngFor="let producto of productosSeleccionados"
                >
                  <div class="card-body d-flex justify-content-between">
                    <h5 class="card-title">{{ producto.name }}</h5>
                    <p class="card-text">Quantity: {{ producto.quantity }}</p>
                  </div>
                  <button
                    class="btn btn-danger ml-auto"
                    (click)="deleteProductCart(producto.id)"
                  >
                    X
                  </button>
                </div>
              </div>
            </div>
            <label for="typeOrder">Type order</label>
            <select
              #typeOrderSelect
              class="form-control"
              (change)="onTypeOrderChange(typeOrderSelect.value)"
            >
              <option value="" disabled>Select a type</option>
              <option value="customer">Customer</option>
              <option value="reseller">Reseller</option>
              <!-- Agrega más opciones según sea necesario -->
            </select>
            <div class="mb-3">
              <label for="email" class="form-label">Correo Electrónico</label>
              <input
                #emailInput
                novalidate
                type="email"
                class="form-control"
                id="email"
                placeholder="@email"
                (change)="onTypeEmailChange(emailInput.value)"
                required
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="createOrder()"
              data-bs-dismiss="modal"
              [disabled]="!productosSeleccionados.length"
            >
              Create Order
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="generateReportModal"
  tabindex="-1"
  aria-labelledby="generateReportModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="generateReportModalLabel">Report</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          [formGroup]="reportForm"
          (ngSubmit)="!reportForm.invalid && generateReport(reportForm.value)"
        >
        <h3>Filter for products</h3>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <label>Category </label>
                <input
                  type="checkbox"
                  aria-label="Checkbox for following text input"
                  formControlName="filterCategory"
                />
              </div>
            </div>
            <select
              class="form-control"
              id="category2"
              formControlName="category"
            >
              <option value="" disabled>all</option>
              <option value="General">General</option>
              <option value="House">House</option>
              <option value="Heavy">Heavy</option>
              <!-- Agrega más opciones según sea necesario -->
            </select>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <label>Less price than:</label>
                <input
                  type="checkbox"
                  aria-label="Checkbox for following text input"
                  formControlName="filterPrice"
                />
              </div>
            </div>
            <input
              type="number"
              novalidate
              id="price2"
              class="form-control"
              formControlName="priceLessThan"
              placeholder="Price"
            />
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <label>Less stock than:</label>
                <input
                  type="checkbox"
                  aria-label="Checkbox for following text input"
                  formControlName="filterStock"
                />
              </div>
            </div>
            <input
              type="number"
              novalidate
              id="stock2"
              class="form-control"
              formControlName="stockLessThan"
              placeholder="Stock"
            />
          </div>

          <h3>Filters for invoices</h3>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <label>Order type</label>
                <input
                  type="checkbox"
                  aria-label="Checkbox for following text input"
                  formControlName="filterOrder"
                />
              </div>
            </div>
            <select
              class="form-control"
              id="orderType2"
              formControlName="sellType"
            >
              <option value="" disabled>all</option>
              <option value="reseller">Reseller</option>
              <option value="final">customer</option>
            </select>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <label>Less total than:</label>
                <input
                  type="checkbox"
                  aria-label="Checkbox for following text input"
                  formControlName="filterTotalOrder"
                />
              </div>
            </div>
            <input
              type="number"
              novalidate
              id="total2"
              class="form-control"
              formControlName="totalOrder"
              placeholder="total order"
            />
          </div>

          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!reportForm.valid"
            data-bs-dismiss="modal"
          >
            Add
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
